.main-menu > ul {
  margin: 1rem 0 0;
  padding: 0;
  display: flex;  
}
.main-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu a {
  display: block;
  padding: .5rem;
  color: white;  
}
.main-menu a:first-child {
  margin-left: 0;
}
.main-menu a:hover,
.main-menu a[aria-current="page"] {
  background: white;
  color: rebeccapurple;
}
.main-menu li ul {
  padding: 0;
  margin: 0;  
  display: none;
}
.main-menu li:hover ul {
  background: rebeccapurple;
  border: 1px rebeccapurple solid;
  display: block;
  position: absolute;
}

.meta {
  border-bottom: 1px #ccc solid;
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
  font-size: .8rem;
}
.meta ul,
.meta li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.meta ul {
  padding-left: 5px;
}
.meta ul li + li:before {  
  content: ", "
}
.meta ul li:first-of-type:before {  
  content: "" !important;
}